body {
    font-size: 18px;
    background-image: url("../images/circuit.png");
}

header {
    height: 60px;
    background: #ffffff;
    border-bottom: 3px solid #cccccc; 
    border-top: 3px solid #cccccc;
    padding: 10px;
}

#Name {
    height: 50px;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    float: left;
    margin-left: 240px;
    background: teal;
    padding: 10px;
    border-block-end-color: #444444 10px;
}

.container {
    display: block;
    z-index: 1000;
    background: #ffffff;
    margin: 30px 250px 60px 250px;
    padding: 20px;
}

nav {
    float: left;
    height: 40px;

}

button {
    float: left;
    font-size: 20px;
    color: gray;
    background-color: #ffffff;
}

#Me {
    padding: 20px;
   float: left;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    margin-right: 30px;
    color:teal;
    border-bottom: 3px solid #cccccc;
}

p {
    float: left;
}

.footer {
    clear: both;
    height: 60px;
    background-color: #666666;
    text-align: center;
    font-size: 10px;
    border-top: 8px solid #4aaaa5;
}

#message {
    height: 75px;
    width: 250px;
}

#gallery {
    float: left;
    max-width: 100%;
    padding: 20px;
}

.img1 {
    padding: 20px;
}


@media screen and (max-width: 980px) {


    header {
        position: static;
    }

    button {
        float: right;
    }

    #Name {
        margin-left: 150px
    }

    .container {
        margin: auto;
    }
  
  
  }

  @media screen and (max-width: 768px) {

    #Name {

        margin-left: 100px;
    }
   

  }

  @media screen and (max-with: 640px) {

    #Name {
        margin-left: 10px;
    }


  }